/* Start adding your styling below! */ 
body {
    background-color: rgba(255, 255, 0, 0.233);
}

p {
    color: rgb(128, 9, 0);
}

h1 {
    font-size: 36px;
    color: blue;
}

.text-center {
    text-align: center;
}

#cool-text {
    color: blue;
}

#ordered-list {
    color: red; /* Change to the color of your choosing */
}
